@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}

.container {
  text-align: center;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  padding: 20px;
}
.container__title {
  letter-spacing: 10px;
  color: hsl(186, 14%, 43%);
  margin-bottom: 20px;
}
.container .splitter {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.container label {
  display: block;
  color: hsl(186, 14%, 43%);
  margin-bottom: 5px;
  text-align: left;
}

.input-section,
.result-section {
  flex: 1;
  padding: 20px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.d-flex--col {
  flex-direction: column;
}
.d-flex--space-between {
  justify-content: space-between;
}
.d-flex--row {
  flex-direction: row;
}
.d-flex #error {
  display: none;
  align-self: flex-end;
  color: hsl(24, 100%, 50%);
}

.error-input {
  outline: 1px solid hsl(24, 100%, 50%);
}

.input-container {
  align-items: center;
  position: relative;
  background-color: hsl(189, 41%, 97%);
  border-radius: 5px;
}
.input-container span {
  font-size: 24px;
  position: absolute;
  top: 12px;
  left: 16px;
  margin: 0 4px;
  color: hsl(184, 14%, 56%);
}
.input-container input {
  border: none;
  background: none;
  padding: 10px;
  width: 100%;
  font-size: 24px;
  text-align: right;
  color: hsl(183, 100%, 15%);
}
.input-container input:hover, .input-container input:focus {
  outline: 2px solid hsl(172, 67%, 45%);
}
.input-container input::placeholder {
  color: hsl(184, 14%, 56%);
}
.input-container .person-icon {
  background-color: hsl(189, 41%, 97%);
  max-width: 24px;
  object-fit: cover;
}

.tip-options {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.tip-option {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
}
.tip-option:hover, .tip-option:focus {
  background-color: hsl(172, 67%, 45%);
}
.tip-option--active {
  background-color: hsl(172, 67%, 45%) !important;
}
.tip-option--custom {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  text-align: end;
}
.tip-option--custom:hover, .tip-option--custom:focus {
  border-color: hsl(172, 67%, 45%);
}

.result-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
  color: hsl(0, 0%, 100%);
  padding: 20px;
  margin-top: 0px;
}
.result-section .result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.result-section .result__label {
  text-align: left;
}
.result-section .result__label span,
.result-section .result__label p {
  text-align: left;
}
.result-section .result__label p {
  color: hsl(184, 14%, 56%);
  margin: 0;
}
.result-section .result__value {
  font-size: 24px;
  font-weight: bold;
}
.result-section .reset-button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.result-section .reset-button:hover, .result-section .reset-button:focus {
  background-color: hsl(185, 41%, 84%);
}

@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
  }
  .container__title {
    margin: auto;
    padding: 20px;
  }
  .container .splitter {
    flex-direction: column;
  }
  .container .splitter .input-section {
    margin-bottom: 20px;
  }
  .container .splitter .input-section,
  .container .splitter .result-section {
    padding: 16px;
  }
  .d-flex--row {
    flex-direction: column;
  }
  .tip-options {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=styles.css.map */
